// Global Stylesheet

// Color Palette
$primary-color: black;
$secondary-color: #B22222;

// Typography
// Hide for Mobile & Tablet
article h1 {
    display: none; 
}

h1 {
    color: $secondary-color;
}

body {
    background: url(../img/pirate%20ship.jpg);
    webkit-background-size: cover;
}

// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}
