// Global Stylesheet

$primary-color: pink;
$secondary-color: teal;

body {
    background: grey;
}

h1 {
    color: $secondary-color;
    text-transform: uppercase;
    font-style: oblique;
    font-size: 15em; 
}